/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
}

.inner-header{
	@include container($wrapper-width);
	color: $white;
}

#logo {
  margin: 0.75em 0;
  font-weight: 900;
  font-size: 30px;
  @include span( first 3 of 12 );

  a {
    color: $white;
  }
}

