.module{
	h1{
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 600;
		margin: 0 0 32px 0;
	}

	header{
		line-height: 24px;

		h2{
			font-size: 18px;
			font-weight: 600;
			margin: 0 0 0 0;
			width: calc(100% - 20px);
		}
		p{
			font-size: 14px;
			font-weight: 300;
			font-style: italic;
			margin: 0 0 0 0;
		}

		margin-bottom: 15px;
	}

	&.featured{
		@include span(first 6 of 12);


		.caption{
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			margin: 0 auto;
			max-width: 80%;
			background-color: $white;
			text-align: center;
			padding: 20px;
			line-height: 34px;

			// a{
				color: $black;
			// }

			h2, p{
				font-size: 24px;
				margin: 0 0 0 0;
			}

			h2{
				font-weight: 600;
			}

			p{
				font-weight: 300;
			}
		}
	}

	&.recent-activity{
		@include span(last 6 of 12);

		li{
			padding: 15px;
			background-color: $very-light-gray;
			position: relative;

			i.fa{
				position: absolute;
				top: 20px;
				right: 20px;
			}

			.content{
				
				font-size: 18px;
				line-height: 24px;
				margin: 0 0 0 0;
				
			}
		}
	}
}


