.unslider { 
	position: relative; 
	overflow: auto; 

	li { 
		list-style: none; 
		position: relative;

		img{
			min-width: 100%;
			height: auto;
		}

		.caption{
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			margin: 0 auto;
			max-width: 80%;
			background-color: $white;
			text-align: center;
			padding: 20px;
			line-height: 34px;

			// a{
				color: $black;
			// }

			h2, p{
				font-size: 24px;
				margin: 0 0 0 0;
			}

			h2{
				font-weight: 600;
			}

			p{
				font-weight: 300;
			}
		}



		// .caption{
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: center;

		// 	width: 100%;
		// 	height: 100%;

		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// }

		// .inner-caption{
		// 	background-color: $white;
		// 	max-width: 50%;
		// }
	}

	ul li { 
		float: left; 
	}


	.dots {
	    position: absolute;
	    right: 20px;
	    top: 20px;
		
		li {
		    display: inline-block;
		    width: 10px;
		    height: 10px;
		    margin: 0 4px;
		    text-indent: -999em;
		    border: 2px solid #fff;
		    border-radius: 6px;
		    cursor: pointer;
		    opacity: .4;
		    transition: background .5s, opacity .5s;
		
			&.active{
				background: #fff;
				opacity: 1;
			}

		}

	}
}